* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #6f79a8 !important;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #485385 !important;
}
